<div class="container mx-auto">
  <div class="row justify-content-center mt-5">
    <% content_for :title, "Buzzes" %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Buzzes</h1>
    </div>

    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-6">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <% @buzz_terms.each do |buzz_term| %>
          <div class="bg-white">
            <div class="mx-auto">
              <h2 class="text-2xl font-bold tracking-tight text-gray-900"><%= buzz_term.term%></h2>

              <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <% buzz_term.buzzs.each do |buzz| %>
                    <div class="group relative">
                      <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                        <%= image_tag buzz.thumbnail_url, alt: buzz.title, class: "h-full w-full object-cover object-center lg:h-full lg:w-full" %>
                      </div>
                      <div class="mt-4 flex justify-between">
                        <div>
                          <h3 class="text-sm text-gray-700">
                            <a href="#">
                              <span aria-hidden="true" class="absolute inset-0"></span>
                              <%= buzz.title %>
                            </a>
                          </h3>
                          <p class="mt-1 text-sm text-gray-500"><%= buzz.author["nickname"]%></p>
                        </div>
                        <p class="text-sm font-medium text-gray-900"><%= buzz.play_count %></p>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
