<div class="container mx-auto">
  <div class="row justify-content-center mt-5">
    <% content_for :title, "Buzzes" %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Buzzes</h1>
    </div>

    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-6">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <% @buzz_terms.each do |buzz_term| %>
          <div class="bg-white">
            <div class="mx-auto">
              <h2 class="text-2xl font-bold tracking-tight text-gray-900"><%= buzz_term.term%></h2>

              <div class="my  -6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <% buzz_term.buzzs.sort_by(&:create_time).reverse.each do |buzz| %>
                  <%= turbo_frame_tag "buzz-#{buzz.id}" do %>
                    <div class="group relative">
                      <div class="relative" style="padding-bottom: 250%;">
                        <iframe src="https://www.tiktok.com/embed/<%= buzz.video_id%>" allowfullscreen scrolling="no" allow="encrypted-media;" class="absolute top-0 left-0 w-full h-full object-cover object-center"></iframe>
                      </div>
                      <div class="mt-4 flex justify-between">
                        <div class="flex items-center space-x-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                          </svg>
                          <span class="text-sm"><%= buzz.play_count %></span>
                        </div>
                        <div class="flex items-center space-x-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                          </svg>
                          <span class="text-sm"><%= buzz.comment_count %></span>
                        </div>
                        <div class="flex items-center space-x-1">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                          </svg>
                          <span class="text-sm"><%= buzz.share_count %></span>
                        </div>
                      </div>
                      <div class="mt-4 flex justify-between">
                        <div class="text-sm font-light">
                          <%= buzz.create_time.strftime("%m/%d/%Y") %>
                        </div>       
                        <%= select_tag :wall, options_from_collection_for_select(@walls, :id, :name, prompt: 'Select a Wall'), class: "block w-full rounded-md border ml-3 py-1.5 pl-1 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                      </div>
                      <div class="mt-3 flex justify-center space-x-2">
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="#bbf7d0" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>
                        </div>
                        <div>
                          <%= button_to buzz_path(buzz), 
                                        method: :delete, 
                                        data: { 
                                          turbo_confirm: "Are you sure? This action is irreversible."
                                        } do %>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#fecaca" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
