<div class="flex h-full flex-col expansion-alids-init">

<header class="py-10">
  <div class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="relative z-50 flex justify-between">
      <div class="flex items-center md:gap-x-12">
        <%= link_to root_path, aria: { label: "Home" } do %>
          <div class="flex-auto lg:col-start-6 lg:row-start-1 xl:col-span-8 xl:col-start-5 font-bold text-2xl">
            BuzzWallHQ
            <sub class="font-medium text-sm ml-1">Beta</sub>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mx-auto pb-16 text-center">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32">
  <span class="inline-flex items-center gap-x-1.5 rounded-md px-2 py-1 mb-6 text-md font-medium text-gray-900 border border-gray-200">
    <svg viewBox="0 0 6 6" aria-hidden="true" width="6" height="6" class="text-yellow-500 mr-2">
      <circle cx="3" cy="3" r="3" fill="currentColor" />
    </svg>
    <span>Pre-launch offer: Limited time 30% discount for the first 50 users.</span>
  </span>
  <h1 class="mx-auto max-w-5xl font-display font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl lg:text-7xl">
  Collect testimonials you <br> didn't know existed with AI
  </h1>
  <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-gray-800 font-light">
    BuzzwallHQ scrapes social media and finds <b class="font-bold">customer text & video reviews of your product or service</b>
  </p>
  <div class="mt-10 flex justify-center gap-x-6">
    <%= link_to "Find My Reviews", "#pricing", class: "rounded-full bg-black px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
  <div class="mt-12 lg:mt-auto flex flex-col items-center">
    <div class="flex -space-x-2 justify-center mt-6">
      <% [
        { src: "https://pbs.twimg.com/profile_images/1794410258237911040/DNxHMI49_400x400.jpg", alt: "Paul" },
        { src: "https://pbs.twimg.com/profile_images/1690996881940230144/XpA1kaNz_400x400.jpg", alt: "Vijay" },
        { src: "https://pbs.twimg.com/profile_images/1829459901925515264/WxuMIU2q_400x400.jpg", alt: "Alireza" },
        { src: "https://pbs.twimg.com/profile_images/1710124473062772736/zIuqVwMr_400x400.jpg", alt: "Abishek" },
        { src: "https://pbs.twimg.com/profile_images/1490075268928655364/L-PTx3nW_400x400.jpg", alt: "Peter" }
      ].each do |image| %>
        <%= image_tag image[:src], class: "inline-block w-10 h-10 rounded-full sm:w-10 sm:h-10 ring-[3px] ring-white", alt: image[:alt], title: image[:alt] %>
      <% end %>
    </div>
    <p class="mt-4 text-gray-900 text-sm font-medium text-center">Trusted by 25+ founders</p>
  </div>
  <div class="flex justify-center mt-6">
    <%= image_tag "hero-how-it-works-2.png", class: "object-cover", alt: "", width: 800, height: 56 %>
  </div>
  <div class="flex justify-center">
    <%= image_tag "bigcommerce-62-returns.png", class: "object-cover", alt: "", width: 800, height: 56 %>
  </div>
  <div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
      <% [
        { value: "380%", description: "Better conversions for high-ticket items" },
        { value: "50+", description: "Hours saved monthly on review collection" },
        { value: "10X", description: "Social proof from genuine reviews." }
      ].each do |stat| %>
        <div class="overflow-hidden rounded-lg bg-white px-6 py-5">
          <dd class="mt-1 text-6xl font-bold tracking-tight text-gray-900"><%= stat[:value] %></dd>
          <dt class="truncate text-lg font-light text-gray-500"><%= stat[:description] %></dt>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<div class="mx-auto max-w-3xl md:text-center">
  <h2 class="font-display text-3xl tracking-tight text-gray-900 sm:text-5xl">
    Ready to wake up to new reviews daily?
  </h2>
  <p class="mt-4 text-lg tracking-tight text-gray-700">
    BuzzwallHQ, your go-to social proof tool, saves you <b class="text-gray-900">50+ hours / mo</b> by finding text and video testimonials of your product or service
  </p>
</div>
