<%= form_with(model: wall, class: "contents") do |form| %>
  <% if wall.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
        <% wall.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "text-sm font-medium leading-6 text-gray-900 block" %>
    <%= form.text_field :name, class: "block w-full rounded-md border border-gray-400 py-2 pl-3 text-gray-900 shadow ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
  </div>

  <div class="relative">
    <%= form.label :buzz_term_id, "Buzz Term", class: "text-sm font-medium leading-6 text-gray-900 block" %>
    <%= form.collection_select :buzz_term_id, @buzz_terms, :id, :term, { prompt: 'Select a Buzz Term' }, class: "block w-full appearance-none rounded-md border border-gray-400 py-2 pl-3 pr-10 text-gray-900 shadow ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 pt-4">
      <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 17a1 1 0 01-.707-.293l-5-5a1 1 0 011.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 1.414l-5 5A1 1 0 0110 17z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :iframe_url, "IFrame URL", class: "text-sm font-medium leading-6 text-gray-900 block" %>
    <input type="text" class="block w-full rounded-md border border-gray-400 py-2 pl-3 text-gray-900 shadow ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value='<iframe src="<%= embed_wall_url(@wall.embed_token) %>" width="1400" height="720" frameborder="0" allowfullscreen></iframe>' readonly>
  </div>

  <div class="my-5">
    <%= form.label :published, class: "text-sm font-medium leading-6 text-gray-900 block" %>
    <%= form.check_box :published, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
