<div id="<%= dom_id wall %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= wall.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= wall.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buzz term:</strong>
    <%= wall.buzz_term_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iframe url:</strong>
    <%= wall.iframe_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published:</strong>
    <%= wall.published %>
  </p>

</div>
