<% content_for :head do %>
  <style>
    html {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    html::-webkit-scrollbar {
      display: none;
    }
    
    body {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    
    body::-webkit-scrollbar {
      display: none;
    }
  </style>
<% end %>

<div class="container mx-auto mt-5">
  <h2 class="text-4xl font-bold tracking-tight text-gray-900 text-center"><%= @wall.name %></h2>

  <% if current_user.present? && @wall.user_id == current_user.id %>
    <div class="mt-4 text-center">
      <h3 class="text-2xl font-semibold">Embed this Wall</h3>
      <p class="mt-2 text-gray-600">Use your embed token <strong class="bg-yellow-400"><%= @wall.embed_token %></strong> for plugins and apps or copy the code below to embed this wall on your own website:</p>
      <textarea rows="9" class="block w-full rounded-md border border-gray-400 py-2 text-gray-900 shadow ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" readonly>
  <pre style="background-color: white;">
  <!DOCTYPE html>
  <html>
  <head>
    <style>
      body { margin: 0; padding: 0; }
      #container_iframe { width: 100%; min-height: 1800px; overflow: hidden; margin: 0 auto; }
      iframe { width: 100%; min-height: 1818px; border: none; }
    </style>
  </head>
  <body>
    <div id="container_iframe">
      <iframe id="bwhq-wall-iframe" class="iframe" src="<%= embed_wall_url(@wall.embed_token)%>" scrolling="no" style="margin: 0; padding: 0;" allowfullscreen></iframe>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"></script>
    <script>
      iFrameResize({
        scrolling: 'auto',
        onResized: function(messageData) {
          // Only update height if it's larger than the minimum
          if (messageData.height > 2018) {
              messageData.iframe.style.height = messageData.height + 'px';
          }
        }
      }, '#bwhq-wall-iframe');
    </script>
  </body>
  </html>
  </pre>
      </textarea>
    </div>
  <% end %>

  <% if @is_subscriber %>
    <%= render partial: '4_column_show_grid' %>
  <% else %>
    <%= render partial: '3_column_show_grid' %>
  <% end %>
</div>