<div id="<%= dom_id buzz %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= buzz.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Wall:</strong>
    <%= buzz.wall_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Thumbnail url:</strong>
    <%= buzz.thumbnail_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= buzz.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Approved:</strong>
    <%= buzz.approved %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Buzz term:</strong>
    <%= buzz.buzz_term_id %>
  </p>

</div>
